<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Example 4</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }
    </style>
    <link rel="stylesheet" type="text/css" href="static/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/map_chloropleth.css"/>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">Iris</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/model">Model</a>
                    </li>
                    <li>
                        <a href="/2charts">2 Charts</a>
                    </li>
                    <li>
                        <a href="/table">Table</a>
                    </li>
                    <li>
                        <a href="/map_chloro">Map</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container" id='mycontent'>
        <div class="row">
            <div class="col-md-12">
                <div id='map'></div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="static/js/jquery.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/leaflet-0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="static/js/map_chloropleth.js"></script>
    <script type="text/javascript">
        // Define data
        var shapedata = {{{shapedata}}};
        var response = {{{response_data}}};

        // Determine size of the map
        var w = document.getElementById("mycontent").clientWidth;
        var h = Math.round(w * 0.5625);    // 16:9 aspect ratio (0.5625 == 9 / 16)
        document.getElementById("map").style.width  = w.toString() + "px";
        document.getElementById("map").style.height = h.toString() + "px";

        // Draw map
        initmap(-36.8, 145.5, 7);
        L.geoJson(shapedata, {style: chloromapstyle}).addTo(map);
        geojson = L.geoJson(shapedata,
            {
                style: chloromapstyle,
                onEachFeature: onEachFeature
            }).addTo(map);
        info.addTo(map);
        legend.addTo(map);
    </script>
</body>

</html>
